<!doctype html>
<html lang="en">
  <head>
     <script>window.location = "/shop";</script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Welcome to My Awesome Cart</title>
  </head>
  <body>
   <div class="jumbotron">
  <h1 class="display-4">Welcome to My Awesome Cart</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/shop" role="button">Go To Shop</a>
  <a class="btn btn-primary btn-lg" href="/blog" role="button">Go To Blog</a>
</div>